[package]
name = "srdf"
version = "0.0.3"
authors.workspace = true
description.workspace = true
documentation.workspace = true
edition.workspace = true
license.workspace = true


[dependencies]
iri_s = { path = "../iri_s", version = "0.0.3" }
prefixmap = { path = "../prefixmap", version = "0.0.3" }
async-trait = "0.1.68"
hashbag = "0.1.11"
serde = "1.0"
serde_derive = "1.0"
thiserror = "1"
rust_decimal = "1.32"
rust_decimal_macros = "1.32"

[dev-dependencies]
serde_json = "1"
