[package]
name = "srdf"
version = "0.1.139"
authors.workspace = true
description.workspace = true
documentation = "https://docs.rs/srdf"
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

#[features]
#rdf-star = [
#    "oxrdf/rdf-star",
#    "oxrdfio/rdf-star",
#    "oxttl/rdf-star",
#    "sparesults/rdf-star",
#]

[dependencies]
async-trait.workspace = true
colored.workspace = true
const_format = "0.2"
iri_s.workspace = true
itertools.workspace = true
oxilangtag.workspace = true
oxiri.workspace = true
oxjsonld.workspace = true
oxrdf.workspace = true
oxrdfio.workspace = true
oxrdfxml.workspace = true
oxsdatatypes.workspace = true
oxttl.workspace = true
prefixmap.workspace = true
regex.workspace = true
reqwest.workspace = true
rust_decimal.workspace = true
rust_decimal_macros.workspace = true
serde.workspace = true
serde_json.workspace = true
sparesults.workspace = true
spargebra.workspace = true
tempfile.workspace = true
tabled.workspace = true
thiserror.workspace = true
toml.workspace = true
tracing.workspace = true
url.workspace = true

[dev-dependencies]
serde_json.workspace = true
tokio = { version = "1.47", features = ["full"] }
