[package]
name = "srdf"
version = "0.0.11"
authors.workspace = true
description.workspace = true
documentation = "https://docs.rs/srdf"
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
iri_s = { path = "../iri_s", version = "0.0.11" }
prefixmap = { path = "../prefixmap", version = "0.0.11" }
async-trait = "0.1.68"
hashbag = "0.1.11"
serde = "1.0"
serde_derive = "1.0"
thiserror = "1"
rust_decimal = "1.32"
rust_decimal_macros = "1.32"
const_format = "0.2"
lazy_static = "1"

oxttl = "0.1.0-alpha.5"
oxrdfio = "0.1.0-alpha.5"
oxrdf = { version = "0.2.0-alpha.5", features = ["oxsdatatypes"] }
oxiri = "0.2.3-alpha.1"
oxsdatatypes = "0.2.0-alpha.2"
sparesults = "0.2.0-alpha.5"
tokio = { version = "1.38", features = ["full"] }
colored = "2"
reqwest = { version = "0.12", features = ["blocking", "json"] }
url = "2.2.2"
regex = "1.10"
tracing = "0.1"

[dev-dependencies]
serde_json = "1"
