[workspace]
resolver = "2"
members = [
    "dctap",
    "rbe",
    "rbe_testsuite",
    "iri_s",
    "prefixmap",
    "srdf",
    "shex_ast",
    "shex_compact",
    "rudof_cli",
    "shex_testsuite",
    "shex_validation",
    "shapemap",
    "shacl_ast",
    "shacl_validation",
    "shacl_testsuite",
    "shapes_converter",
    "python",
]

exclude = [
    "shex_compact_winnow"
]

default-members = [
    "rudof_cli"
]

[workspace.package]
edition = "2021"
license = "MIT OR Apache-2.0"
description = "RDF data shapes implementation in Rust"
repository = "https://github.com/weso/shapes-rs"
homepage = "https://www.weso.es/shapes-rs/"
readme = "./README.md"
keywords = ["rdf", "linked-data", "semantic-web", "shex"]
categories = ["database"]
authors = [
    "Jose Emilio Labra Gayo <labra@uniovi.es>",
    "Ángel Iglesias Préstamo <angel.iglesias.prestamo@gmail.com>",
    "Marc-Antoine Arnaud <marc-antoine.arnaud@luminvent.com>",
]

[workspace.dependencies]
iri_s = { version = "0.1.8", path = "./iri_s" }
dctap = { version = "0.1.0", path = "./dctap" }
prefixmap = { version = "0.1.0", path = "./prefixmap" }
rbe = { version = "0.1.7", path = "./rbe" }
rbe_testsuite = { version = "0.1.7", path = "./rbe_testsuite" }
rudof_cli = { version = "0.1.12", path = "./rudof_cli" }
shex_ast = { version = "0.1.0", path = "./shex_ast" }
shapemap = { version = "0.1.0", path = "./shapemap" }
shacl_ast = { version = "0.1.0", path = "./shacl_ast" }
shacl_validation = { version = "0.1.0", path = "./shacl_validation" }
shapes_converter = { version = "0.1.6", path = "./shapes_converter" }
shex_testsuite = { version = "0.1.0", path = "./shex_testsuite" }
shex_validation = { version = "0.1.0", path = "./shex_validation" }
shex_compact = { version = "0.1.0", path = "./shex_compact" }
srdf = { version = "0.1.0", path = "./srdf" }

# [dependencies]
# External dependencies
clap = { version = "4.2.1", features = ["derive"] }
anyhow = "1.0"
oxrdf = "0.2.0-alpha.5"
serde_json = "1.0"
regex = "1.10.4"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [ "env-filter" ] }
supports-color = "3.0.0"
