[workspace]
resolver = "2"
members = [
    "dctap",
    "rbe",
    "rbe_testsuite",
    "iri_s",
    "prefixmap",
    "srdf",
    "shex_ast",
    "shex_compact",
    "rudof_lib",
    "rudof_cli",
    "shex_testsuite",
    "shex_validation",
    "shapemap",
    "shacl_ast",
    "shacl_validation",
    "shacl_testsuite",
    "shapes_converter",
    "sparql_service",
    "python",
]

exclude = [
    "shex_compact_winnow"
]

default-members = [
    "rudof_cli"
]

[workspace.package]
edition = "2021"
license = "MIT OR Apache-2.0"
description = "RDF data shapes implementation in Rust"
repository = "https://github.com/rudof-project/rudof"
homepage = "https://rudof-project.github.io/rudof"
readme = "./README.md"
keywords = ["rdf", "linked-data", "semantic-web", "shex"]
categories = ["database"]
authors = [
    "Jose Emilio Labra Gayo <labra@uniovi.es>",
    "Ángel Iglesias Préstamo <angel.iglesias.prestamo@gmail.com>",
    "Marc-Antoine Arnaud <marc-antoine.arnaud@luminvent.com>",
]

[workspace.dependencies]
iri_s = { version = "0.1.32", path = "./iri_s" }
dctap = { version = "0.1.31", path = "./dctap" }
prefixmap = { version = "0.1.32", path = "./prefixmap" }
rbe = { version = "0.1.7", path = "./rbe" }
rbe_testsuite = { version = "0.1.7", path = "./rbe_testsuite" }
rudof_lib = { version = "0.1.35", path = "./rudof_lib" }
rudof_cli = { version = "0.1.35", path = "./rudof_cli" }
shex_ast = { version = "0.1.0", path = "./shex_ast" }
shapemap = { version = "0.1.0", path = "./shapemap" }
shacl_ast = { version = "0.1.35", path = "./shacl_ast" }
shacl_validation = { version = "0.1.37", path = "./shacl_validation" }
shapes_converter = { version = "0.1.33", path = "./shapes_converter" }
shex_testsuite = { version = "0.1.0", path = "./shex_testsuite" }
shex_validation = { version = "0.1.0", path = "./shex_validation" }
shex_compact = { version = "0.1.0", path = "./shex_compact" }
srdf = { version = "0.1.35", path = "./srdf" }
sparql_service = { version = "0.1.37", path = "./sparql_service" }

# [dependencies]
# External dependencies
anyhow = "1.0"
clap = { version = "4.2.1", features = ["derive"] }
colored = "2"
indexmap = "2.1"
oxrdf = "0.2.0-alpha.5"
regex = "1.10.4"
supports-color = "3.0.0"
serde = "1"
serde_json = "1.0"
serde_derive = "1"
serde_yml = "0.0.12"
thiserror = "1.0"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [ "env-filter" ] }
url = "2.2.2"