[package]
name = "rudof_lib"
version = "0.1.34"
authors.workspace = true
description.workspace = true
documentation = "https://docs.rs/rudof_lib"
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[features]
rdf-star = ["oxrdf/rdf-star"]

[dependencies]
srdf = { workspace = true }
iri_s = { workspace = true }
shacl_ast = { workspace = true }
shacl_validation = { workspace = true }
shex_ast = { workspace = true }
shex_validation = { workspace = true }
shex_compact = { workspace = true }
sparql_service = { workspace = true }
shapemap = { workspace = true }
prefixmap = { workspace = true }
shapes_converter = { workspace = true }
dctap = { workspace = true }
serde = "1"
serde_derive = "1"
void = "1"
thiserror = "1.0"
serde_json = { workspace = true }
serde_yml = "0.0.12"
itertools = "0.13"
oxrdf = { workspace = true, features = ["oxsdatatypes"] }

[dev-dependencies]
