[package]
name = "sparql_service"
version = "0.1.149"
authors.workspace = true
description.workspace = true
edition.workspace = true
license.workspace = true
documentation = "https://docs.rs/sparql_service"
homepage.workspace = true
repository.workspace = true

[dependencies]
colored.workspace = true
const_format = "0.2"
iri_s.workspace = true
itertools.workspace = true
mie.workspace = true
oxigraph = { workspace = true, default-features = false }
oxrdf = { workspace = true, features = ["oxsdatatypes", "rdf-12"] }
oxrdfio = { workspace = true, features = ["rdf-12"] }
oxsdatatypes.workspace = true
prefixmap.workspace = true
rudof_rdf.workspace = true
rust_decimal = "1.38"
serde.workspace = true
serde_json.workspace = true
sparesults.workspace = true
thiserror.workspace = true
toml.workspace = true
tracing.workspace = true
