[package]
name = "rudof_cli"
version = "0.1.68"
authors.workspace = true
description.workspace = true
documentation = "https://rudof-project.github.io/rudof"
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[[bin]]
path = "src/main.rs"
name = "rudof"

[dependencies]
shex_ast = { workspace = true }
srdf = { workspace = true, features = ["rdf-star"] }
prefixmap = { workspace = true }
iri_s = { workspace = true }
shapemap = { workspace = true }
shacl_ast = { workspace = true, features = ["rdf-star"] }
dctap = { workspace = true }
shapes_converter = { workspace = true, features = ["rdf-star"] }
shacl_validation = { workspace = true, features = ["rdf-star"] }
sparql_service = { workspace = true }
rudof_lib = { workspace = true }

serde.workspace = true
serde_json = { workspace = true }
anyhow = { workspace = true }
thiserror = { workspace = true }
clap = { workspace = true }
clientele = "0.2"
oxrdf = { workspace = true }
regex = "^1.10"
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
supports-color = { workspace = true }
either = "1.13"
reqwest = { version = "0.12" }
url = { workspace = true }
