[package]
name = "shex_compact"
version = "0.1.7"
authors.workspace = true
description.workspace = true
documentation = "https://docs.rs/shex_compact"
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
shex_ast = { workspace = true }
rbe = { workspace = true }
iri_s = { workspace = true }
srdf = { workspace = true }
prefixmap = { workspace = true }
shapemap = { workspace = true }
nom = "7"
nom-regex = "0.2"
nom_locate = "4"
regex = "1.10.3"
thiserror = "1"
tracing = { workspace = true }
colored = "2"
rust_decimal = "1.32"
rust_decimal_macros = "1.32"
pretty = "0.12.3"
lazy-regex = "3.1"

[dev-dependencies]
criterion = "0.5"
tracing-subscriber = "0.3"
pprof = { version = "0.13.0", features = ["criterion", "flamegraph"] }

[[bench]]
name = "shex_parse"
harness = false

[[bench]]
name = "shex_compact_simple"
harness = false

[[bench]]
name = "regex"
harness = false
