name: Code Coverage

on:
  push:
    paths-ignore:
      - "docs/**"
      - "examples/**"
      - ".github/**"
      - "**/LICENSE*"
      - "**/README*"
      - "**/CHANGELOG*"
      - "**/.dockerignore"
      - "**/Dockerfile*"
      - "**/*.md"
      - .readthedocs.yml
  pull_request:
    paths-ignore:
      - "docs/**"
      - "examples/**"
      - ".github/**"
      - "**/LICENSE*"
      - "**/README*"
      - "**/CHANGELOG*"
      - "**/.dockerignore"
      - "**/Dockerfile*"
      - "**/*.md"
      - .readthedocs.yml

jobs:
  # TODO - Replace with Sonar Cloud / Sonar Qube
  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    container:
      image: xd009642/tarpaulin:develop-nightly
      options: --security-opt seccomp=unconfined

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Install Python and dev headers
        run: |
          apt-get update
          apt-get install -y python3 python3-dev python3-venv
      - name: Set up PyO3 environment
        run: |
          export PYTHON_SYS_EXECUTABLE=$(which python3)
          echo "PYTHON_SYS_EXECUTABLE=$PYTHON_SYS_EXECUTABLE" >> $GITHUB_ENV
          echo "PYO3_PYTHON=$PYTHON_SYS_EXECUTABLE" >> $GITHUB_ENV
      - name: Generate code coverage
        run: |
          cargo +nightly tarpaulin \
            --all-features \
            --workspace \
            --timeout 120 \
            --no-dead-code \
            --engine llvm \
            --out xml
      - name: Publish to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}