on:
  push:
    branches:
      - issue99
  release:
    types: [published]

name: Publish

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
          toolchain: stable
          override: true
    - uses: katyo/publish-crates@v2
      with:
          registry-token: ${{ secrets.CARGO_TOKEN }}
          ignore-unpublished-changes: true