name: Python

on:
  push:
    paths-ignore:
      - docs
      - examples
      - .github
      - "**/LICENSE*"
      - "**/README*"
      - "**/CHANGELOG*"
      - "**/.dockerignore"
      - "**/Dockerfile"
      - "**/*.md"
      - .readthedocs.yml
  pull_request:
  release:
    types:
      - published

permissions:
  contents: write

jobs:
  linux:
    runs-on: ${{ matrix.vm }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.12 ]
        target: [ x86_64, aarch64 ]
        include:
          - target: x86_64
            vm: ubuntu-latest
          - target: aarch64
            vm: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

#      - name: Fix openssl regression
#        run: cargo update openssl-src --precise 300.5.0+3.5.0

      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          working-directory: python
          target: ${{ matrix.target }}
          manylinux: auto
          args: --release --out dist --interpreter ${{ matrix.python-version }}
          sccache: 'true'
          before-script-linux: |
            # If we're running on rhel centos, install needed packages.
            if command -v yum &> /dev/null; then
                yum update -y && yum install -y perl-core openssl openssl-devel pkgconfig libatomic

                # If we're running on i686 we need to symlink libatomic
                # in order to build openssl with -latomic flag.
                if [[ ! -d "/usr/lib64" ]]; then
                    ln -s /usr/lib/libatomic.so.1 /usr/lib/libatomic.so
                fi
            else
                # If we're running on debian-based system.
                apt update -y && apt-get install -y --fix-missing libssl-dev openssl pkg-config
            fi

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-linux-${{ matrix.target }}
          path: python/dist

      - name: Install Built Wheel
        run: python3 -m pip install -vv pyrudof --find-links=python/dist --no-index

      - name: Test Built Wheel
        run: cd python/tests && python3 -m unittest discover -vvv

  windows:
    runs-on: Windows-2022
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.12 ]
        target: [ x64 ]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          working-directory: python
          target: ${{ matrix.target }}
          args: --release --out dist --interpreter ${{ matrix.python-version }}
          sccache: 'true'

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-windows-${{ matrix.target }}
          path: python/dist

      - name: Install Built Wheel
        run: python3 -m pip install -vv pyrudof --find-links=python/dist --no-index

      - name: Test Built Wheel
        run: cd python/tests && python3 -m unittest discover -vvv

  macos:
    runs-on: ${{ matrix.vm }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.12 ]
        target: [x86_64, aarch64]
        include:
          - target: x86_64
            vm: macos-13
          - target: aarch64
            vm: macos-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          working-directory: python
          target: ${{ matrix.target }}
          args: --release --out dist --interpreter ${{ matrix.python-version }}
          sccache: 'true'

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-macos-${{ matrix.target }}
          path: python/dist

      - name: Install Built Wheel
        run: python3 -m pip install -vv pyrudof --find-links=python/dist --no-index

      - name: Test Built Wheel
        run: cd python/tests && python3 -m unittest discover -vvv

#  sdist:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v4

#      - name: Build sdist
#        uses: PyO3/maturin-action@v1
#        with:
#          working-directory: python
#          command: sdist
#          args: --out dist

#      - name: Upload sdist
#        uses: actions/upload-artifact@v4
#        with:
#          name: wheels
#          path: python/dist

#      - name: Install Built sdist
#        run: python3 -m pip install -vv pyrudof --find-links=python/dist --no-index

#      - name: Test Built sdist
#        run: cd python/tests && python3 -m unittest discover -vvv

  release:
    name: Release
    if: github.event.action == 'published'
    runs-on: ubuntu-latest
    # needs: [linux, windows, macos, sdist]
    needs: [linux, macos, windows]
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: wheels-*
          merge-multiple: true
      - name: List artifacts
        run: ls -lhs
      - name: Publish to PyPI
        uses: PyO3/maturin-action@v1
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        with:
          command: upload
          args: --non-interactive --skip-existing *
